/* palette colors */
/* http://www.colourlovers.com/palette/937769/Heather_Field */
html {
  background: #e5f0cd;
  font-family: verdana,sans-serif; }

a {
  color: #53824f;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

#hd {
  margin-bottom: 1em;
  margin-top: 1em; }

#logo h1 {
  font-family: Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 200%;
  padding-left: 1ex; }

#user-bar {
  padding: 1ex 0 1ex 1ex; }

#user-bar, #more-food, #eaten-foods, #user-functions, #doc div.flash, #about {
  background: #dbe6c0;
  border: 1px solid #c2d9b2; }

#more-food, #eaten-foods, #user-functions, #doc div.flash, #about {
  padding: 1ex 1.5ex;
  margin-bottom: 1em; }

#doc div.flash {
  background: #c48ba9;
  color: white; }

#food-stuffs, #doc div.flash, #user-functions {
  clear: both; }

#eaten-foods h3, #about h3 {
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: 150%; }
#eaten-foods ul, #about ul {
  margin-bottom: 1em; }
#eaten-foods a.delete, #about a.delete {
  color: #c48ba9; }

#about p {
  margin-top: 1em; }
#about strong {
  font-weight: bold; }
#about em {
  font-style: italic; }

#ft {
  text-align: center; }
