#about
  %h3 What is Fork or Spoon?
  %p Fork or Spoon? is a place for you to record the things you stuff in your face. Why? |
    because stuffing food in your face is tasty. There are a lot of things that you probably |
    shouldn't stuff in your face. Many of those are eaten with a spoon. There are a lot of |
    things that you should stuff in your face. Many of those are eaten with a fork. |
  %p OK well, some of them are eaten with your hands. But, I digress.
  %p 
    Fork or Spoon? is 
    %strong NOT
    a calorie counter. There are plenty of sites like that. If you |
    want a calorie counting site, please go somewhere else. Hurry on. Fork or Spoon? is simply |
    a place for you to record what you eat, when you eat it. It's simple because recording |
    what you eat shouldn't be complicated. |
  %p We might add nifty features like keeping track of your weight and body fat. Look for that to come.
  %p 
    Until then, enjoy recording what you eat-- 
    %em simply.
  %p P.S. If you like the site and want to contribute, notice that the graphics suck.
  %p P.P.S They really suck. Help us, please.
