#food-stuffs
  =render :partial => "shared/food" unless display_noms?(@user)
  -if display_foods?(@user)
    #eaten-foods
      -if !@start.nil? || !@the_end.nil?
        -(@start_date..@end_date).each do |d|
          %h3=d.strftime("%a %b %d, %Y")
          %ul
            -if !@foodgroups[d].nil?
              -for food in @foodgroups[d] do
                %li
                  ==#{food.created_at.strftime("%I:%M %p")} : #{food.description} #{edit_delete_link(food, @user)}
      %p.prevnext
        =prev_link(@user) 
        =next_link(@user) 
