#more-food
  - form_for @food do |f|
    %p
      == #{f.text_field(:description)} @ #{f.text_field(:created_at, :value => @foodtime)}
    %p
      == #{submit_tag("nom")} #{link_to('cancel', user_path(current_user))}
