!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en" :lang => "en"}
  %head
    %title Fork or Spoon?
    %meta{"http-equiv" => "Content-type", "content" => "text/html;charset=UTF-8"}
    =stylesheet_link_tag "http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css", "main"
    =javascript_include_tag "jquery-1.3.2.js"
    :javascript
       $(document).ready(function(){
         $("div.notice").fadeOut(3000);
       });
  %body
    #doc
      #hd.yui-ge
        #logo.yui-u.first
          %h1 Fork or Spoon?
        #user-bar-container.yui-u
          #user-bar
            = render :partial => "users/user_bar"
      #bd
        = display_standard_flashes
        = yield
      #ft
        %a{"href" => "http://getsatisfaction.com/fork_or_spoon"}
          %img{"alt" => "Get Help!", "src" => "http://getsatisfaction.com/images/badges/badge_get_help.png"}
      #params
        %p don't mind me.
        =debug params
