<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">  
  <head>
    <title>Food Recorder</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css"> 
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <div id="main-site">
      <div id="user-bar">
        <%= render :partial => "users/user_bar" %>
      </div>
      <%= display_standard_flashes %>
      <%= yield %>
    </div>
  </body>
</html>
