<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">  
  <head>
    <title>Fork or Spoon?</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css">  
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <div id="doc">
      <div id="hd">
        <div id="logo">
          <h1>Fork or Spoon</h1>
        </div>
        <div id="user-bar">
          <%= render :partial => "users/user_bar" %>
        </div>
      </div>
      <div id="bd">
        <%= display_standard_flashes %>
        <%= yield %>
      </div>
      <div id="ft">
        <a href="http://getsatisfaction.com/fork_or_spoon"><img alt="Badge_get_help" src="http://getsatisfaction.com/images/badges/badge_get_help.png" /></a>
      </div>
    </div>
  </body>
</html>
