!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en" :lang => "en"}
  %head
    %title Fork or Spoon?
    %meta{"http-equiv" => "Content-type", "content" => "text/html;charset=UTF-8"}
    =stylesheet_link_tag "http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css", "main"
    =javascript_include_tag "jquery-1.3.2.js"
  %body
    #doc
      #hd
        #logo
          %h1 Fork or Spoon?
        #user-bar
          = render :partial => "users/user_bar"
      #bd
        = display_standard_flashes
        = yield
      #ft
        %a{"href" => "http://getsatisfaction.com/fork_or_spoon"}
          %img{"alt" => "Get Help!", "src" => "http://getsatisfaction.com/images/badges/badge_get_help.png"}
